<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.input :password , :as => :hidden %>
<%= f.input :password_confirmation , :as => :hidden %>


<% if @user.errors.any? %>
  <div class="row-fluid">
  	<div class="span12">
  				<h3 class='red'>Il nous manque des informations..</h3>
  				<br/>

  	</div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <h3 class="darkgrey proxima-bold center">CANDIDATURE PREMIERE CLASSE</h3>
    <hr />
  </div>
</div>
<div class="row-fluid">
	<div class="span5">
		<h4>Vos infos</h4>
		<%= f.input :firstname, label: false,
								input_html: { class: 'input', autocomplete:'on', type: 'text'},
								placeholder: 'prénom'
		%>
		<%= f.input :lastname,  label: false,
								input_html: { class: 'input', autocomplete:'on',type: 'text'},
								placeholder: 'nom de famille'
		%>
		<%= f.input :email, label: false,
							input_html: { class: 'input', autocomplete:'on', type: 'text'},
							placeholder: 'email'
		%>
		<%= f.input :age, 	input_html: { class: 'input',autocomplete:'on'},
							prompt: 'votre âge', collection: 7..99, priority: [''],
							:placeholder => "Votre âge",
							label: false
		%>
		<%= f.input :profile, input_html: { class: 'input',autocomplete:'on'},
							  collection: ["étudiant" , "entrepreneur", "salarié", "en recherche d'emploi", "autre"],
							  :prompt => "Vous êtes",
							  label: false
		%>
		<%= f.input :linkedin, input_html: { class: 'input',autocomplete:'on'} , placeholder: 'http://www.linkedin.com/in/username', :label => "Profil Linkedin" %>
		<br>
		<p><%= f.submit "ENVOYER" , class: 'btn btn-red' %></p>
	</div>

	<div class="span7">
		<h4>Quelques questions pour mieux vous connaître</h4>
		<%= f.input :q1, :input_html => {:style=> 'width:90%;height:100px'}, placeholder: 'Pourquoi postulez-vous au wagon ?', :label => false %>
		<%= f.input :q2, input_html: {:style=> 'width:90%;height:100px'},  placeholder: "Qu'avez-vous déjà fait pour apprendre à coder ? Quelles ressources avez-vous utilisées?", :label => false %>
		<%= f.input :q3, input_html: {:style=> 'width:90%;height:100px'},  placeholder: "Dans quels domaines du développement web pensez-vous être compétent ? Où rencontrez-vous des difficultés ?", :label => false %>
		<%= f.input :q4, input_html: {:style=> 'width:90%;height:100px'},   placeholder: "Qu'aimeriez-vous avoir appris d'ici la fin du programme ?", :label => false %>
	</div>
</div>

<% end %>





<script type="text/javascript">

$(document).ready(function() {

	$('.about').click(function(event){
		window.location = '/';
		event.preventDefault();
	});

	$('.profs').click(function(event){
		window.location = '/';
		event.preventDefault();
	});

	$('.partenaires').click(function(event){
		window.location = '/';
		event.preventDefault();
	});

	$('.qr').click(function(event){
		window.location = '/';
		event.preventDefault();
	});

});

</script>