<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.input :password , :as => :hidden %>
<%= f.input :password_confirmation , :as => :hidden %>


<br/>

<div class="row-fluid">
	<div class="span12">
			<% if @user.errors.any? %>
				<h3 class='red'>Il nous manque des informations..</h3> 
				<h4 class='red'>Pensez à cocher le bon programme !</h4> 
				<br/>
			<% end %>
	</div>
</div>


<h3 class="darkgrey proxima-bold center">1. CHOISISSEZ UN PROGRAMME</h3>
<hr>

<div class="row-fluid">

	<div class="span4 offset2" style="padding:15px;">
		<%= f.input :p2, label: "Première classe", label_html: { class: 'bitter-blue'}%>
		<p class="schedule red">Départ - Avril 2014</p>
		<p class="justify">Un programme intense de 2 mois pour devenir développeur et trouver un poste à la clef. Il faut des années pour devenir développeur professionnel. Avec les bonnes méthodes, 2 mois suffisent pour être autonome.</p>
		<%=link_to "LE PROGRAMME EN DETAILS", {controller: "home", action: "page", page: "premiere_classe"}, class: "big red"%>
	</div>
	<div class="span4" style="padding:15px;">
		<%= f.input :p1, label: "L'express", label_html: { class: 'bitter-blue'}%>
		<p class="schedule">Départ - selon inscriptions</p>
		<p class="justify">Deux semaines de formation et développement assisté pour créer le prototype de votre site. Apprenez le développement agile avec des hackers aguerris pour coder un MVP (Minimal Valuable Product).</p>
		<%=link_to "LE PROGRAMME EN DETAILS", {controller: "home", action: "page", page: "express"}, class: "big red"%>
	</div>
</div>


<br>
<h3 class="darkgrey proxima-bold center">2. DITES-NOUS EN PLUS</h3>
<hr>
<div class="row-fluid">
	<div class="span5" style="padding-left:20px">
		<h4>Vos infos</h4>
		<%= f.input :firstname, label: false, 
								input_html: { class: 'input', autocomplete:'on', type: 'text'}, 
								placeholder: 'prénom'
		%>
		<%= f.input :lastname,  label: false, 
								input_html: { class: 'input', autocomplete:'on',type: 'text'}, 
								placeholder: 'nom de famille'
		%>
		<%= f.input :email, label: false,
							input_html: { class: 'input', autocomplete:'on', type: 'text'}, 
							placeholder: 'email'
		%>
		<%= f.input :age, 	input_html: { class: 'input',autocomplete:'on'}, 
							prompt: 'votre âge', collection: 7..99, priority: [''], 
							:placeholder => "Votre âge", 
							label: false 
		%>
		<%= f.input :profile, input_html: { class: 'input',autocomplete:'on'}, 
							  collection: ["étudiant" , "entrepreneur", "salarié", "en recherche d'emploi", "autre"], 
							  :prompt => "Vous êtes", 
							  label: false  
		%>
		<%= f.input :linkedin, input_html: { class: 'input',autocomplete:'on'} , placeholder: 'http://www.linkedin.com/in/username', :label => "Profil Linkedin" %>
		<br>
		<p><%= f.submit "ENVOYER" , class: 'btn btn-red' %></p>
	</div>

	<div class="span7">
		<h4>Quelques questions pour mieux vous connaître</h4>
		<%= f.input :q1, :input_html => {:style=> 'width:90%;height:100px'}, placeholder: 'Pourquoi postulez-vous au wagon ?', :label => false %>
		<%= f.input :q2, input_html: {:style=> 'width:90%;height:100px'},  placeholder: "Qu'avez-vous déjà fait pour apprendre à coder ? Quelles ressources avez-vous utilisées?", :label => false %>
		<%= f.input :q3, input_html: {:style=> 'width:90%;height:100px'},  placeholder: "Dans quels domaines du développement web pensez-vous être compétent ? Où rencontrez-vous des difficultés ?", :label => false %>
		<%= f.input :q4, input_html: {:style=> 'width:90%;height:100px'},   placeholder: "Qu'aimeriez-vous avoir appris d'ici la fin du programme ?", :label => false %>
	</div>
</div>

<% end %>





<script type="text/javascript">

$(document).ready(function() {

	$('.about').click(function(event){	
		window.location = '/';	
		event.preventDefault();
	});

	$('.profs').click(function(event){		
		window.location = '/';
		event.preventDefault();
	});

	$('.partenaires').click(function(event){
		window.location = '/';		
		event.preventDefault();
	});

	$('.qr').click(function(event){		
		window.location = '/';
		event.preventDefault();
	});

});

</script>