<div class="cours">

	<div class="row-fluid">
		<div class="span12">
			<h3 class="blue">INITIATION FRONT-END</h3>
		</div>
	</div>

	<br/>

	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="span12">
					<ul>
						<li>Prendre en main HTML5 / CSS3</li>
						<li>Utiliser la librairie Twitter Bootstrap et son système de grid</li>
						<li>Réaliser un site statique brique par brique (<a href="http://lewagon.herokuapp.com/exo?exo=exo4&page=index">exemple</a>)</li>
					</ul>

					<br/>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "suitcase.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Aucun bagage n'est nécessaire<br>
							Venez comme vous êtes !
						</div>
					</div>	

					<br>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "tools.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Votre ordinateur<br> 
							+ un éditeur de texte (TextMate / SublimeText )
						</div>
					</div>				
				</div>
			</div>
		</div>
		<div class="span4 info-box">
			<div class="row-fluid">
				<div class="span1">
					<%=image_tag "map.svg", class: "cours-mutinerie-pic", id: "map"%>
				</div>
				<div class="span11 infos">
					A venir !<br>
					<span class="second-line">
						18h-21h (3h)
					</span>
				</div>
			</div>

			<br>

			<%= render partial: "infos_mutinerie"%>

			<br>

			<div class="row-fluid">
				<div class="span2 offset1">
					<!--a href="http://1wagon.eventbrite.com/" class="link-tickets" target="_blank"><%=image_tag "tickets_1.png", class: "tickets"%></a-->
				</div>
				<div class="span5 center">
					<br>
					<span class="muted price-infos">50€</span>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="cours">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="blue">INITIATION BACK-END</h3>
		</div>
	</div>
	<br>


	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="span12">
					<ul>
						<li>Créer un simple blog avec ruby on Rails</li>
						<li>Comprendre l'architecture d'un site Rails et son flow (MVC, routing, convention action/vue, DataBase, migration)</li>
						<li>Déployer son blog sur le serveur heroku</li>
					</ul>

					<br>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "suitcase.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Vous avez des bases en HTML/CSS<br>	
							Une petite culture web et une tête bien faite						
						</div>
					</div>	

					<br>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "tools.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Votre ordinateur<br> 
							+ un éditeur de texte (TextMate / SublimeText )<br>
							+ installer ruby/Rails/Git => <a href="http://railsinstaller.org/">RailsInstaller</a>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<div class="span4 info-box">
			<div class="row-fluid">
				<div class="span1">
					<%=image_tag "map.svg", class: "cours-mutinerie-pic", id: "map"%>
				</div>
				<div class="span11 infos">
					A venir !<br>
					<span class="second-line">
						18h-21h (2h)
					</span>
				</div>
			</div>

			<br>

			<%= render partial: "infos_mutinerie"%>


			<br>

			<div class="row-fluid">
				<div class="span2 offset1">
					<!--<a href="http://2wagon.eventbrite.com/" class="link-tickets" target="_blank"><%=image_tag "tickets_1.png", class: "tickets"%></a>-->
				</div>
				<div class="span5 center">
					<br>
					<span class="muted price-infos">50€</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--

<div class="cours">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="blue">INITIATION BACK-END - Part 2</h3>
		</div>	
	</div>
	<br>

	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="span12">
					<ul>
						<li>Ajouter à son blog des utilisateurs</li>
						<li>Comprendre les bases de données relationnelles</li>
						<li>Ajouter un système d'authentification classique avec Devise</li>
						<li>Ou via Facebook (import des infos Facebook)</li>
					</ul>

					<br>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "suitcase.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Vous avez des bases en HTML/CSS<br>
							Vous avez déjà passé au moins 1h sur un tutorial Rails
						</div>
					</div>	

					<br>

					<div class="row-fluid">
						<div class="span1">
							<%=image_tag "tools.svg", class: "cours-mutinerie-pic transparent", id: "map"%>
						</div>
						<div class="span11">
							Votre ordinateur<br> 
							+ un éditeur de texte (TextMate / SublimeText )<br>
							+ installer ruby/Rails/Git => <a href="http://railsinstaller.org/">RailsInstaller</a>
						</div>
					</div>				
				</div>
			</div>
		</div>
			
		<div class="span4 info-box">
			<div class="row-fluid">
				<div class="span1">
					<%=image_tag "map.svg", class: "cours-mutinerie-pic", id: "map"%>
				</div>
				<div class="span11 infos">
					Mercredi 24 Juillet<br>
					<span class="second-line">
						18h30-20h30 (2h)
					</span>
				</div>
			</div>

			<br>

			<%= render partial: "infos_mutinerie"%>

			<br>

			<div class="row-fluid">
				<div class="span6 offset1">
					<a href="http://3wagon.eventbrite.com/" class="link-tickets" target="_blank"><%=image_tag "tickets_1.png", class: "tickets"%></a>
				</div>
				<div class="span5 center">
					<br>
					<span class="muted price-infos">30€</span>
				</div>
			</div>
		</div>
	</div>
</div>

-->