<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="row-fluid">
		<div class="span12">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding-right:10px;padding-top:10px;">×</button>
		</div>
	</div>
  <div class="modal-body">
		<div class="row-fluid">
			<div class="span12">
				<h1 class="with-line">
					<span>
						<%=image_tag "star.svg", class: "inline-img"%>
						LA NEWSLETTER
						<%=image_tag "star.svg", class: "inline-img"%>
					</span>
				</h1>
			</div>
		</div>
		<br>
    <div class="row-fluid">
			<div class="span10 offset1">
				<p>Pour se tenir informé de nos prochains ateliers et évènements !</p>
				<div id='main-nl'>
					<%= form_tag  url_for(:action => 'subscribe'), :method => "post", :remote => true  do %>
					<div class="input">
						<%= text_field 'email' , 'email', :placeholder => 'votre email'%>
						<%= submit_tag "SUIVEZ-NOUS" , :class => "btn subscribe-btn"%>
					</div>
					<p class="error-message"></p>
					<% end %>
				</div>
			</div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="span12">
				<h1 class="with-line">
					<span>
						<%=image_tag "star.svg", class: "inline-img"%>
						PROCHAINS COURS
						<%=image_tag "star.svg", class: "inline-img"%>
					</span>
				</h1>
			</div>
		</div>
		<br>
		
		<div class="row-fluid">
			<div class="span6 offset1 center">
				<p>HTML/CSS, Javascript, UX, dataviz, APIs, Design... Aller voir la carte !</p>
			</div>
			<div class="span4">
				<%= link_to "ALLEZ VOIR !", courses_path, class: "btn btn-ticket", style: "width:95px;" %>
			</div>
		</div>
		
		<br><br>
		
		
		
  </div>
</div>