<div id="partenaires">
	<div class="row-fluid">
		<div class="span3 center">
			<a href='http://www.lecamping.org/' target='_blank'>
				<%= image_tag 'camping.png' , :class => 'img-partenaire',style: "margin-top:10px"  %>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://www.mutinerie.org/' target='_blank'>
				<%= image_tag 'mutinerie.png' , :class => 'img-partenaire',style: "margin-top:10px"  %>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://www.chaireeee.eu/accelerator/subscribe' target='_blank'>
				<%= image_tag 'logobluefactory.png' , :class => 'img-partenaire' %>
			</a>
		</div>	

		<div class="span3 mail-us">
			<h3 class="grey">Rejoignez-nous !</h3>
			<p>Vous souhaitez sponsoriser, parrainer, collaborer avec le wagon, <a href='mailto:contact@lewagon.org' class="red">CONTACTEZ-NOUS</a></p>
		</div>				
	</div>

	<div class="row-fluid">
		<div class="span3 center">
			<a href='http://www.ateliersdeparis.com/' target='_blank'>
				<%= image_tag 'ateliers.png' , :class => 'img-partenaire', style: "margin-top:15px" %>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://www.thefamily.co/' target='_blank'>
				<%= image_tag 'family.png' , :class => 'img-partenaire', :id => "thefamily" %>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://www.urbanlinker.com/' target='_blank'>
				<%= image_tag 'urban.png' , :class => 'img-partenaire'%>
			</a>
		</div>
	</div>


	<div class="row-fluid">
		<div class="span3 center">
			<a href='http://www.lebusinessplan.fr/' target='_blank'>
				<%= image_tag 'petite_etoile.png' , :width => '90px', style: "margin-top:30px" %>
			</a>
		</div>
		<div class="span3 center">
			<a href='http://humancoders.com/' target='_blank'>
				<%= image_tag 'human_coders.jpg' , :width => '150px', style: "margin-top:10px" %>
			</a>
		</div>
		<div class="span3 center">
			<a href='http://www.leeaarn.com/' target='_blank'>
				<%= image_tag 'leeaarn.jpg' , :width => '150px', style: "vertical-align:-90px" %>
			</a>
		</div>		
	</div>
	
	<div class="row-fluid">
		<div class="span3 center">
			<a href='https://app.capitainetrain.com/en' target='_blank'>
				<%= image_tag 'capitaine-train.png' , :width => '300px', style: "margin-top:55px"%>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://wisembly.com/fr/' target='_blank'>
				<%= image_tag 'wisembly.png' , :width => '300px', style: "margin-top:25px;margin-left:25px"%>
			</a>
		</div>
		<div class="span3 center">
			<a href='http://fifty-five.com/' target='_blank'>
				<%= image_tag '55.png' , :width => '100px', style: "margin-top:15px"%>
			</a>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span3 center">
			<a href='https://www.drivy.com/' target='_blank'>
				<%= image_tag 'drivy.png' , :width => '300px', style: "margin-top:45px"%>
			</a>
		</div>
		<div class="span3 center">
			<a href='https://www.uber.com/' target='_blank'>
				<%= image_tag 'uber.jpeg' , :width => '150px'%>
			</a>
		</div>

		<div class="span3 center">
			<a href='http://www.maddyness.com/' target='_blank'>
				<%= image_tag 'maddyness.jpg' , :width => '300px', style: "margin-top:40px"%>
			</a>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span3 offset3 center">
			<a href='http://www.kisskissbankbank.com/' target='_blank'>
				<%= image_tag 'kisskiss.jpg' , :width => '300px', style: "margin-top:45px"%>
			</a>
		</div>
	</div>
</div>
