<div id="premiere" class="open-sans justify">
	<div class="row-fluid">
		<div class="span10 offset1">

			<div class='row-fluid'>
				<div class='span10'>
					<h1 class="blue">PREMIERE CLASSE</h1>
				</div>
			</div>
			<h4>
				<span class="red">Départ 6 Janvier 2014</span> - 2 mois pour être autonome en développement web
			</h4>
			<p>
				Une formation-tremplin de 2 mois <span class="bold">à temps plein</span> pour rejoindre une startup, se lancer sur un projet personnel, 
				ou trouver un poste de développeur junior avec le bagage technique suffisant.
			</p>
			<br/>
			<div class="fb-like" data-href="http://www.lewagon.org<%= request.path %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lewagon.org/premiere" data-via="Lewagonparis" data-lang="fr" data-hashtags="premiere">Tweeter</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			
			<br/><br/>
			<ul>
			<li>Si vous souhaitez nous rencontrer pour discuter du programme, <span class="red bold"><%=link_to "POSTULEZ", {controller: "registrations", action: "new"}%></span>.</li>
			<br/>
			<li>Si vous voulez en savoir plus, lisez la suite !</li>
			</ul>
			
			<hr/>
			
			<br/>
			
			<h2 class="blue">POUR QUI ?</h2>
			<p>
				Que faut-il pour embarquer en première classe ? Un
				diplôme d'ingénieur ? Un bac professionnel ? Une licence en histoire de
				l'art ? Peu importent les qualifications, ce qui compte pour nous : <span class="bold">votre
				envie de plonger dans le code pour deux mois d'apnée</span>. Lire, écrire, corriger,
				discuter de code à toute heure !
			</p>

			<br/>

			<p>
				La première classe est conçue pour les débutants ou "faux
				débutants" en programmation <span class="bold">qui souhaitent mener une activité de
				développeur dans leur travail quotidien</span>. Reconversion, projet entrepreneurial, il faut que le code soit au coeur de votre projet professionnel.
			</p>

			<br/><br/>
			<h2 class="blue">POURQUOI ?</h2>
			<p>
				Avec de la motivation et de la patience, n'
  <title>Jpds</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html> qui peut
				apprendre à coder tout seul, <strong>MAIS</strong> :
			</p>

			<br/>

			<ul>
				<li>
					<span class="bold">C'est long :</span>
					la courbe d'apprentissage est très plate au début.
				</li>

				<br/>

				<li>
					<span class="bold">C'est frustrant :</span>
					on progresse lentement alors qu'on a mille projets en tête, sur lesquels on aimerait se lancer.
				</li>

				<br/>

				<li>
					<span class="bold">Ce n'est pas épanouissant :</span>
					on passe beaucoup de temps seul devant des livres de code ou des tutoriaux
					en ligne, alors qu'on a envie de travailler en groupe, d'échanger
					et d'apprendre au contact des autres.
				</li>
			</ul>



			<br/><br/>

			<h2 class="blue">EN PRATIQUE</h2>

			<div class="row-fluid">
				<div class="span6" style="padding-right:20px">
					<h3>Le cadre</h3>
					<p>
						Le Wagon s'associe à Silicon Sentier pour lancer son programme 
						"Première classe" et s'installe au
						<%=
						link_to "GLII, le Grand Lieu Intégré de l'Innovation",
						"http://siliconsentier.org/et-demain-le-glii/",
						:target => '_blank'
						%>, nouveau coeur du numérique à Paris.
						Le GLII rassemble des start-up, des centres de
						recherche, des fonds d’investissement, des incubateurs, des agences de
						design... L'objectif n'est pas uniquement de former techniquement les participants, mais 
						<span class="bold">de leur ouvrir un réseau, de les propulser dans un écosystème</span>.
					</p>
					<p>
						Pour leur faire découvrir d'autres sujets connexes au développement (UX, design,
						co-création, ateliers <em>lean startup</em>, découverte du marché de
						l'emploi des développeurs…) des ateliers seront organisés certains soirs, l'occasion d'échanger avec des spécialistes.
					</p>
				</div>

				<div class="span6" style="padding-left:20px">
					<h3>L'équipe</h3> 
					<p>
						<%= link_to "Les professeurs du Wagon", :profs %> sont tous des entrepreneurs
						web (<a href="http://tastersclub.com">Taster's club</a>, <a href="http://sylights.com">Sylights</a>,
						<a href="http://txto.io">Txto</a>), ayant une "expérience terrain" du code, et sachant sur quelles notions il faut mettre l'accent.
						La pédagogie est bâtie avec <%= link_to "/ut7", "http://ut7.fr", :target => '_blank' %>,
						un collectif d'experts dans la formation de développeurs et
						l'apprentissage des pratiques agiles de développement logiciel.
					</p>
					<p>
						Chaque participant est également encadré par un coach, un développeur professionnel qui vous suit tout au long du programme, et avec qui vous bâtissez une relation privilégiée.
					</p>

				</div>

			</div>

			<br/>

			<div class="row-fluid">
				<div class="span6" style="padding-right:20px">
					<h3>Les débouchés</h3>
					<p>
						En fin de programme, nous organisons une journée de recrutement,
						durant laquelle vous pouvez présenter vos projets, montrer votre
						portfolio à des recruteurs ou à des investisseurs, passer des
						entretiens.
					</p>
					<p>
						Pour ceux qui souhaitent se lancer dans l'entreprenariat, nous
						organisons aussi des évènements avec
						<%= link_to "nos incubateurs partenaires", :partenaires %>.
					</p>
				</div>

				<div class="span6" style="padding-left:20px">
					<h3>L'esprit</h3>
					<p>
						Une fois descendu du Wagon, vous saurez transformer vos idées en
						produits concrets et vous aurez déjà un portfolio de votre travail.
						Vous aurez aussi noué de vrais liens avec les autres élèves et les
						intervenants du Wagon, qui seront autant de mailles dans votre réseau
						de connaissance !
					</p>
					<p>
						Les anciens élèves sont toujours les bienvenus pour suivre et
						conseiller les promotions suivantes, et continuer ainsi à bénéficier de
						l'environnement d'apprentissage du Wagon.
					</p>
				</div>
			</div>

			<br/><br/>

			<h2 class="blue">NOS CONVICTIONS</h2>
				<p>
					Le programme "Première classe" veut former des bons développeurs. Etre un bon développeur, <span class="bold">cela veut dire beaucoup plus que "savoir bien coder"</span>. Le bon développeur est la personne avec qui vous avez envie de travailler : sociable, créatif, qui sait prendre du recul sur un sujet ou le considérer sous un autre angle, capable d'ébaucher une solution par oral ou sur une feuille de papier avant de la formaliser à travers des lignes de code.
				</p>

				<p>
					Nous pensons que "l'élève est un animal social" et apprend
					deux fois plus vite au contact des autres. Écrire du code, c'est comme écrire du français. 
					Chacun d'entre nous a son propre style et son propre vocabulaire. Au même titre,
					chaque développeur a sa façon d'appréhender un problème, d'y apporter une
					réponse, et d'écrire le code correspondant. Pour tirer parti de cette
					diversité, les exercices se font en binômes, avec changement fréquent
					de binôme. Certains projets se font en groupe, pour que les élèves
					soient vite confrontés aux problématiques de collaboration dans le
					développement.
				</p>

				<p>
					Le programme "Première classe" veut mettre l'accent sur les bonnes pratiques de développement. Ces méthodologies et ces techniques permettent d'écrire du code propre, lisible, maintenable. Elles simplifient la vie du développeur sur le long terme, et sont aussi très intéressantes intellectuellement et d'un point de vue pédagogique :
					<strong>
						stratégies de versionnement, développement piloté par les tests, 
						remaniement du code existant, déploiement continu,...
					</strong>
				</p>

				<br/><br/>


				<h2 class="blue">OBJECTIFS</h2>
				<div class="row-fluid">
					<div class="span6" style="padding-right:20px">
						<h4 class="bold">Tenir ses délais / trouver du sens</h4>
						<p>
							On peut maîtriser à la perfection les concepts et les techniques de
							programmation, cela n'a pas tellement d'intérêt si l'on ne sait pas
							livrer à temps un produit utile et utilisable. Le programme "Première classe"
							veut apprendre aux participants à re-définir un produit, une proposition de valeur, 
							pour à la fois respecter ses délais et développer <span class="bold">des produits qui ont du sens</span> et répondent à un réel besoin.
						</p>
					</div>

					<div class="span6" style="padding-left:20px">
						<h4 class="bold">Livrer un produit qui marche</h4>
						<p>
							Il est primordial qu'un développeur professionnel, même junior, ait
							confiance dans le fait que ce qu'il code fonctionne correctement. Les participants 
							apprendront à vérifier le fonctionnement de leurs programmes et à automatiser ces vérifications à travers des
							tests.
						</p>
					</div>
				</div>

				<br/>

				<div class="row-fluid">
					<div class="span6" style="padding-right:20px">
						<h4 class="bold">Raisonner sur du code</h4>
						<p>
							Un développeur qui comprend la structure d'un "bout de code" n'a pas de mal
						  à se documenter sur les éléments qu'il ne connaît pas.
							Nous pousserons donc les participants à raisonner sur du code. 
							Les problèmes auxquels sont confrontés les développeurs sont souvent complexes 
							dans la vraie 	vie. Il est essentiel d'avoir cette capacité d'abstraction et d'être capable de réfléchir à une solution par oral ou sur une feuille de papier avant d'écrire la moindre ligne de code.
						</p>
					</div>

					<div class="span6" style="padding-left:20px">
						<h4 class="bold">S'ouvrir aux communautés</h4>
						<p>
							Le programme "Première classe" poussera les participants à assister à des meetups de développeurs, à rencontrer des entrepreneurs, des graphistes, des product managers... pour s'ouvrir à de nouvelles communautés et mieux comprendre ce milieu.
						</p>
					</div>
				</div>

				<br/><br/>


				<h2 class="blue">JOURNEE-TYPE</h2>
				<p>
					La matinée commence par un échange au sein du groupe : les découvertes,
					les obstacles, ce qu'on a enfin compris et ce qu'on ne comprend toujours
					pas. La suite de la matinée est consacrée à l'apport de nouvelles notions et à la
					résolution d'exercices en binômes.
				</p>
				<p>
					En début d'après-midi, les participants codent en public, pour mettre en 
					application les notions abordées, reformuler leurs acquis, et échanger
					avec le reste du groupe. Le reste de l'après-midi est consacré à
					la résolution d'exercices ou à des projets en équipe plus ambitieux. Les
					professeurs sont là pour expliquer des points techniques à mesure que les élèves y sont 
					confrontés dans les exercices, pour les aider à formaliser des solutions et pour faire
					des démonstrations "en live" quand le groupe a besoin d'éclaircissements sur une nouvelle notion, une nouvelle librairie, un nouvel outil..
				</p>
				<p>
					Les soirées sont l'occasion de faire venir des intervenants sur les
					sujets qui intéressent le groupe, de rencontrer des communautés de
					développeurs, ou simplement de se détendre autour d'un bon repas !
				</p>

				<br/><br/>

				<h2 class="blue">RECRUTEMENT</h2>
				<p>
					Suite à votre inscription au programme, nous vous contacterons rapidement
					pour un entretien (par Skype ou <em>de visu</em>). Cet entretien sera
					l'occasion de discuter ensemble de vos objectifs en montant dans le Wagon, et de s'assurer 
					que le programme "Première classe" correspond bien à votre personnalité et à 
					votre projet professionnel. Nous discuterons un peu de votre niveau et de votre expérience, 
					mais surtout de votre motivation.
				</p>

				<br/>

				<hr/>
				<div class="row-fluid">
					<div class="span12">
						<h2 class="blue">CURSUS</h2>
						<p>Lors de ces deux mois, vous apprendrez :</p>

						<ul>
							<li>
								à programmer proprement en <span class="red bold">Ruby</span> : du
								code testé, lisible, maintenable
							</li>
							<li>
								à développer un site ou une simple API <em>back-end</em> avec le framework
								<span class="red bold">Rails</span>
							</li>
							<li>
								à programmer les comportements dans le navigateur en
								<span class="red bold">JavaScript</span>
							</li>
							<li>
								à utiliser <span class="red bold">HTML</span> et
								<span class="red bold">CSS</span> pour donner une identité visuelle à
								vos projets
							</li>
							<li>
								à utiliser <span class="red bold">Git</span> et
								<span class="red bold">Github</span> pour versionner votre travail et
								collaborer
							</li>
							<li>
								à construire vos propres outils à l'aide de
								<span class="red bold">commandes shell</span>
							</li>
							<li>
								à déployer et administrer son application sur
								<span class="red bold">Heroku</span>
							</li>
						</ul>
						<p>Vous découvrirez également des techniques de développement, entre autre</p>
						<ul>
							<li>Stratégies de versionnement</li>
							<li>Explorations parallèles</li>
							<li>Développement piloté par les tests (<em>Test-Driven Development</em>)</li>
							<li>Remaniement du code existant (<em>Code Refactoring</em>)</li>
							<li>Déploiement continu</li>
						</ul>

						<h3 style="display:inline-block">Si la première classe est faite pour vous</h3>
						<%=link_to "POSTULEZ", {controller: "registrations", action: "new"}, class: "btn btn-red", style:"margin-left:20px;vertical-align: 1px;"%>
					</div>
				</div>
				<br/>
				<hr/>
				<h2 class="bitter-blue pull-right">
					Piloté en partenariat avec
					<%=
					link_to image_tag("logo_ut7_web_tiny.png", :width => "90",
					:style => "vertical-align: -8px;"), "http://ut7.fr", :target => '_blank'
					%>
				</h2>
			</div>
		</div>
	</div>
</div>
