<br/><br/><br/>
<div class="large">
	<div class="row-fluid">
		<div class="span3">
			<div class=" pgrme-wagonbar">
				<h3 class="bitter-blue">Le wagon bar</h3>
				<ul>
				<li style="margin-bottom:5px">Trouvez le bon cours</li>
				<li style="margin-bottom:5px">Achetez votre billet</li>
				<li style="margin-bottom:5px">Si vous n'êtes pas disponible, inscrivez-vous à la newsletter du cours pour une prochaine fois !</li>
				</ul>
			</div>
		</div>
		<div class="span9" id="courses-container">
			<% @courses_by_date.each do |date, courses| %>
				<h3 class="proxima-bold black"><%= l courses[0].date, format: :short, locale: :fr%></h3>
				<hr>
				<% courses.each do |c| %>
				<div class="row-fluid course">
					<div class="span3">
						<%= image_tag c.image %>
					</div>
					<div class="span6 justify">
						<h4><%= link_to  c.title , c %></h4>
						<p><%= c.short %></p>
					</div>
					<div class="span3">
						<%= render partial: "infos", locals: {course: c}%>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
