<% content_for :title, "Le Wagon - " + @course.title  %>

<br>
<h3 class="proxima-bold black" style="display:inline-block;"><%= l @course.date, format: :long, locale: :fr%></h3>
<h4 class="pull-right" style="display:inline-block;margin-top:15px;text-decoration: underline;"><%= link_to "Revenir à la carte", courses_path%></h4>
<hr>

<div class="row-fluid">
	<div class="span3">
		<div class="row-fluid">
			<div class="span12 center">
				<%= image_tag @course.image, width:"70%" %>
			</div>
		</div>
		<br/>
		<div class="row-fluid">
			<div class="span12">
				<%= render partial: "infos", locals: {course: @course}%>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 center">
				<%= image_tag "#{@course.category.to_s}-blue.png", class: "category"%>
				<span class="proxima-bold blue" style="vertical-align:-8px;margin-left:5px;">
					<%= @course.category.to_s.upcase %>
				</span>
			</div>
		</div>
	</div>

	<div class="span9" style="padding-left:30px;">
		<h2 class="darkgrey proxima-bold center"><%= @course.title.upcase %> <h2>
		<div class="justify">
		<%= raw @course.content %>
		</div>

		<h2 class="with-line" style="opacity:0.6;font-size:20px;height:10px;">
			<span>
				<%=image_tag "star.svg", class: "inline-img"%>
				LE PROF
				<%=image_tag "star.svg", class: "inline-img"%>
			</span>
		<h2>

		<br><br>

		<div class="row-fluid">
			<div class="span3">
				<%= image_tag @course.teacher_image, width: "100%"%>
			</div>
			<div class="span9">
				<h4 class="proxima-bold"><%= @course.teacher_name %></h4>
				<p><%= @course.teacher_desc %></p>
				<% lkdn = @course.teacher_linkedin ? @course.teacher_linkedin.to_s : ""  %>
				<% unless lkdn.empty? %>
					<%= link_to @course.teacher_linkedin.to_s do %>
						<%= image_tag 'linkedin.png' , :class => 'img-linkedin'%>
					<% end %>
				<% end %>
				<% twttr = @course.teacher_twitter ? @course.teacher_twitter.to_s : ""  %>
				<% unless twttr.empty? %>
					<%= link_to @course.teacher_twitter.to_s do %>
						<%= image_tag 'twitter.png' , :class => 'img-twitter'%>
					<% end %>
				<% end %>
			</div>
		</div>

		<h2 class="with-line" style="opacity:0.6;font-size:20px;height:10px;">
			<span>
				<%=image_tag "star.svg", class: "inline-img"%>
				PARTAGEZ
				<%=image_tag "star.svg", class: "inline-img"%>
			</span>
		<h2>

		<br><br>
		<div id='subscribe'>
			<p>Partagez le cours avec vos amis</p>
			<div class="fb-like" data-href="http://www.lewagon.org<%= request.path %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="Lewagonparis" data-lang="fr" data-hashtags="learntocode">Tweeter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<br><br>
			<p>Inscrivez-vous à la Newsletter du cours !</p>
			<%= form_tag  url_for(:action => 'subscribe', :id => @course.id), :method => "post", :remote => true  do %>
			<div class="input">
				<%= text_field 'email' , 'email', :placeholder => 'votre e-mail'%>
				<%= submit_tag "S'INSCRIRE" , :class => "btn btn-blue subscribe-btn"%>
			</div>
			<br/>
			<p class="error-message"></p>
			<% end %>
		</div>


	</div>
</div>