<footer>
	<div class="container">
	<div class="row-fluid">
		<div class="span3 left" style="margin-left:0px;">
			<ul>
			<h5>Le Wagon</h5>
				<li><%= link_to "Profs", {controller: "home", action: 'page', page: 'profs'}%></li>
				<li><%= link_to "Partenaires", {controller: "home", action: 'page', page: 'partenaires'}%></li>
				<li><%= link_to "Presse", {controller: "home", action: 'page', page: 'presse'}%></li>
				
			</ul>
		</div>
		
		<div class="span3 left">
			<ul>
			<h5>Programmes</h5>
				<li><%= link_to "Wagon bar", courses_path %></li>
				<li><%= link_to "Express", {controller: "home", action: 'page', page: 'express'}%></li>
				<li><%= link_to "Première classe", {controller: "home", action: 'page', page: 'premiere_classe'}%></li>
			</ul>
			
		</div>
		
		<div class="span3 left">
			<ul>
			
			<h5>Suivez nous</h5>
				<li><%= link_to 'Facebook' , 'https://www.facebook.com/lewagonformation' %></li>
				<li><%= link_to 'Twitter' , 'https://twitter.com/lewagonparis' %></li>
				<li><a href="http://blog.lewagon.org/" target="_blank">Blog</a></li>
				
			</ul>
			
		</div>
		
		<div class="span3 left">
			<ul>
			
			<h5>Contact</h5>
				<li><%= link_to "contact@lewagon.org", "mailto:contact@lewagon.org" %></li>
				<li><div class="fb-like" data-href="http://www.lewagon.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>
				<a href="https://twitter.com/Lewagonparis" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @Lewagonparis</a></li>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			
		</div>
		

	
		</div>
		</div>	
</footer>