<footer>
	<div class="container">
	<div class="row-fluid">
		<div class="span3 left" style="margin-left:0px;">
			<ul>
			<h5>Le Wagon</h5>
				<li><%= link_to "Profs", {controller: "home", action: 'page', page: 'profs'}%></li>
				<li><%= link_to "Partenaires", {controller: "home", action: 'page', page: 'partenaires'}%></li>
				<li><%= link_to "Presse", {controller: "home", action: 'page', page: 'profs'}%></li>
			</ul>
		</div>
		
		<div class="span3 left">
			<ul>
			<h5>Programmes</h5>
				<li><%= link_to "Wagon bar", {controller: "home", action: 'page', page: 'wagon_bar'}%></li>
				<li><%= link_to "Express", {controller: "home", action: 'page', page: 'express'}%></li>
				<li><%= link_to "Première classe", {controller: "home", action: 'page', page: 'premiere_classe'}%></li>
			</ul>
			
		</div>
		
		<div class="span3 left">
			<ul>
			
			<h5>Suivez nous</h5>
				<li><%= link_to 'Facebook' , 'https://www.facebook.com/' %></li>
				<li><%= link_to 'Twitter' , 'https://twitter.com/lewagonparis' %></li>
			</ul>
			
		</div>
		
		<div class="span3 left">
			<ul>
			
			<h5>Contact</h5>
				<li><%= link_to "contact@lewagon.org", "mailto:contact@lewagon.org" %></li>
				<li></li>
			</ul>
			
		</div>
		

	
		</div>
		</div>	
</footer>