<!DOCTYPE html>
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title><%= content_for?(:title) ? yield(:title) : "Le Wagon" %></title>
	  <meta name="title" content= "<%= content_for?(:title) ? yield(:title) : "Le Wagon" %>" />
	  <meta name="og:title" content= "<%= content_for?(:title) ? yield(:title) : "Le Wagon" %>" />
	  <meta property="og:description" content= "<%= @course.title rescue 'Apprenez à coder!' %>" />
	  <meta property="og:image" content="https://dl.dropboxusercontent.com/u/11391045/lewagon.png">
	  <meta property="og:site_name" content="Le Wagon"/>
	
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/analytics' %>
	</head>
	<body>
	
	
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
		  	if (d.getElementById(id)) return;
		  	js = d.createElement(s); js.id = id;
		  	js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=170809313078160";
		  	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

		<%= render 'layouts/header' %>

		<% page =  params[:page] || "" %>
		<% controller =  params[:controller] || "" %>
		
		<% if page.to_s == "home" || page.to_s == "koudetat" %> <!--Home page with 100% width carousel-->
			<div class="main-container">
				<%= yield %>
			</div>
		<% elsif controller == "blog" %> <!--Blog with different layout-->
  		  <%= render 'layouts/blog' %>
		<% else %>
			<div class="main-container narrow">
				<%= yield %>
			</div>
		<% end %>
	
		<%= render 'layouts/footer' %>

	</body>
</html>
