<!DOCTYPE html>
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title><%= content_for?(:title) ? yield(:title) : "Le Wagon - Apprenez à coder" %></title>
	  <meta name="title" content= "<%= content_for?(:title) ? yield(:title) : "Le Wagon" %>" />
	  <meta name="og:title" content= "<%= content_for?(:title) ? yield(:title) : "Le Wagon" %>" />
	  <meta property="og:description" content= "<%= @course.title rescue 'Apprenez à coder!' %>" />
	  <meta property="og:image" content="https://dl.dropboxusercontent.com/u/11391045/lewagon.png">
	  <meta property="og:site_name" content="Le Wagon"/>

	  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">

	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/analytics' %>
	</head>
	<% if params[:page] %>
	  <body id="<%=params[:page]%>">
	<% else %>
	  <body>
	<% end %>
  	<%= render 'layouts/header' %>

  	<% page =  params[:page] || "" %>
  	<% controller =  params[:controller] || "" %>

  	<% if page.to_s == "home" %> <!--Home page with 100% width carousel-->
      <%= render 'banner' %>
    <% end %>


    <div class="container main-container bg-white">
      <% if controller == "blog" %> <!--Blog with different layout-->
		    <%= render 'layouts/blog' %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

  	<%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
    <script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  	  	if (d.getElementById(id)) return;
  	  	js = d.createElement(s); js.id = id;
  	  	js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=170809313078160";
  	  	fjs.parentNode.insertBefore(js, fjs);
  	}(document, 'script', 'facebook-jssdk'));
  	</script>
	</body>
</html>
